* {
    font-family: Vazir;
    font-size:medium;
  }

.seperator {
    border-left: 2px solid #0087E0;
    width: 30%;
}

.profile-pic {
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
}
  
  .cover {
    margin: auto;
    width: 100%;
    max-height: 700px;
}
            /* INFORMATION */

.information {
    align-items: center;
    justify-content:center;
    display: flex;
}
.information table {
    margin: auto;
    width: 100%;
    align-items: center;
}

.information-detail {
    margin: auto; 
    justify-content:center;
    display: flex;
    align-items: center;
}

.information-detail table {
    text-align: center;
    color: black;
}
.information-detail table span{
    text-align: center;
    color: #0087E0;
}

            /* KARNAME */

.karname {
    margin: auto;
    justify-content: center;
    align-items: center;
}
.karname fieldset {
    border: 2px solid #0087E0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 85%;
}
.karname legend {
    background-color: #0087E0; 
    padding: 5px; 
    color: white; 
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
  }

.karname table {
    max-width: 100%;
    text-align: center;
    color: black;
    margin: auto;
    width: 100%;
    padding-bottom: 5%;
    overflow-x: hidden;

}

.karname table  td{
    border-collapse: collapse;
    border-radius: 5px;
    border: 2px solid #0087E0;
}

.type {
    text-align: center;
    margin: auto;
    width: 40%;
    border: 2px solid #0087E0;
    border-radius: 5px;
    color: #0087E0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.gpa {
    text-align: center;
    width: 20%;
    float:left;
    border: 2px solid #0087E0;
    border-radius: 5px;
    color: #0087E0;
    padding: 1%;
    margin-top: -3%;
}

.fail {
    color: red;
}

.box {
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.fail-box {
    color: red;
    background-color: rgb(255, 227, 227);
    border: 2px solid red;
}

.accept {
    color: green;
}
.accept-box {
    color: green;
    background-color: rgb(228, 255, 228);
    border: 2px solid green;
}

.not-number {
    color: gray;
}
.not-number-box {
    color: gray;

    background-color: rgb(255, 246, 246);
    border: 2px solid gray;
}
