* {
    font-family: Vazir;
    font-size:medium;
  }
body {
    background-image: url("../SRC/cover\ photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.login-form {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    }


fieldset {
    margin: auto;
    width: 30%;
    border: 2px solid #428ce7;
    border-radius: 50px;
    background-color: white;
    }

legend {
    margin: auto;
    background-color: #428ce7;
    border-radius: 40px;
    padding: 10px;
    color: white;
    }
input {
    border-radius: 5px;
    border: 2px solid #428ce7;
    width: 80%;
    height: 30px;
    text-align: center;
    }
.green-button{
    border-radius: 50px;
    background-color: #428ce7;
    border: 2px solid #428ce7;
    width: 150px;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%; 
    color: white; 
    font-size: large;
    }