* {
    font-family: Vazir;
  }
  
  .changePassword-form {
    width: 80%;
    text-align: center;
    font-size: 18px;
  }
  
  .changePassword-fieldset {
    margin: auto;
    width: 50%;
    border: 2px solid #428ce7;
    border-radius: 50px;
    background-color: white;
  }
  
  .changePassword-legend {
    margin: auto;
    background-color: #428ce7;
    border-radius: 40px;
    padding: 10px;
    color: white;
  }
  .changePassword-input {
    border-radius: 20px;
    border: 2px solid #428ce7;
    width: 80%;
    height: 30px;
    text-align: center;
  }
  .changePassword-green-button {
    border-radius: 50px;
    background-color: #428ce7;
    border: 2px solid #428ce7;
    width: 150px;
    height: 40px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-size: large;
  }
  